* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

.wrap {
    max-width: 1366px;
    margin: 0 auto;
}

.headering {
    background-color: #A14125;
    height: 65px;
    width: 100%;
}

.top_navigation:hover {
    margin-top: 0%;
    padding-top: 27px;
    padding-bottom: 20px;
    background-color: rgb(255, 159, 22);
    color: black;
}

.top_navigation {
    color: aliceblue;
    text-decoration: none;
    font-size: 17px;
}

.top_navigation_btn {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    width: 180px;
    background: rgb(0, 102, 255);
    border: 1px solid #000000;
    border-radius: 56px;
    text-shadow: 0.25px 0.25px 0.25px black;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
}

.top_navigation_btn:hover {
    background: rgb(0, 0, 0);
}

.top_nav {
    margin-top: 2%;
    width: 65%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;


}

.logo {
    padding: 2px 0px;
    width: 150px;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

/* home_page */
.home_bgc {
    opacity: 95%;
    width: 100%;
    height: 681px;
    position: absolute;
    z-index: 1;
    float: left;
}

.home_info {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.home_img {
    position: relative;
    z-index: 2;
    margin-top: 70px;
    max-width: 550px;
    max-height: 350px;
}

.home_title {
    color: white;
    width: 400px;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 50px;
}

.home_comment {
    color: white;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
    max-width: 400px;
}

.line1 {
    margin-left: 50px;
    background-color: #A14125;
    margin-top: 20px;
    width: 7px;
    height: 170px;
}

.comment_line {
    display: flex;
    justify-content: space-between;
}

/* кнопки home page */
.btn_position {
    margin-top: 35px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.btn1:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.btn2:hover {
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 56px;
}

.btn1 {
    width: 325px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 46px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 56px;
    background-color: rgba(240, 248, 255, 0);
    text-shadow: 1px 1px 2px black;
    font-size: 22px;
    text-decoration: none;
}

.btn2 {
    width: 325px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 46px;
    background: rgb(22, 80, 255);
    border: 2px solid rgb(22, 80, 255);
    border-radius: 56px;
    text-shadow: 0.25px 0.25px 0.25px black;
    font-size: 22px;
    text-decoration: none;
    color: #ffffff;
}

/* кнопки home page кончились */
.bgc_offer {
    background-color: #70707063;
    position: relative;
    z-index: 2;
}

.plus {
    width: 60px;
}

.template {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.icon_text {
    padding: 25px;
    position: relative;
    z-index: 3;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}

.offer_text {
    width: 300px;
    list-style: none;
    color: #ffffff;
    font-size: 20px;
}

/* ============================================================================ */
/* mob version */

.header_mobile {
    display: block;
    position: relative;
    z-index: 5;
}

.icon_head {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.logo_mob {
    margin-top: 10px;
    width: 110px;
}

a {
    text-decoration: none;
    color: #1E1E23;
    opacity: 1;
    font-family: 'work sans', sans serif;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
}

a:hover {
    opacity: 0.5;
}

ul {
    padding: 0;
    list-style-type: none;
}


.container {
    /* margin-top: 50px; */
    Display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border: 1px solid #36383F;
    /* border-radius: 20px; */
    width: 100%;
    height: 91%;
    background-color: #F5F6FA;
    overflow: hidden;
}

nav {
    background-color: #1E1E23;
    height: 65px;
}


#menuToggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 5;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 3;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 180px;
    height: 400px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    transition-delay: 2s;
}

#menuToggle input:checked~ul {
    transform: none;
}

/* main 1 page */
.page1 {
    position: absolute;
    z-index: 1;
    width: 100%;

}

.offer1 {
    margin-top: 68px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    background-color: #4d4d4d76;
    font-size: 18px;

}

.p_1page {
    width: 300px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

.line_top {
    display: flex;
    justify-content: center;
}

.line_black {
    margin-top: 90px;
    height: 3px;
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: #000000;
}

.home_txt {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.text_title1 {
    text-align: center;
    font-size: 25px;
    width: 300px;
    color: #000000;
}

.home_txt2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.text_title2 {
    font-family: initial;
    font-style: oblique;
    text-align: center;
    font-size: 19px;
    width: 300px;
    color: #000000;
}

.line_top2 {
    margin-top: -75px;
    display: flex;
    justify-content: center;
}

/* button */
.btn_position_mob {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.btn_mob1 {
    width: 300px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 0px;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: rgba(240, 248, 255, 0);
    text-shadow: 0.25px 0.25px 0.25px black;
    font-size: 22px;
    text-decoration: none;
}

.btn_mob2 {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 0px;
    background: rgb(0, 0, 0);
    border: 2px solid #000000;
    border-radius: 8px;
    text-shadow: 0.25px 0.25px 0.25px black;
    font-size: 22px;
    text-decoration: none;
    color: #ffffff;
}

/* 2 page  */
.img2 {
    margin-top: 13px;
    display: flex;
    justify-content: center;
}

.img_bgc2 {
    width: 100%;
}

.title2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.title2_txt {
    font-family: initial;
    font-size: 18px;
    text-align: center;
    width: 310px;
}

.title3_txt {
    font-size: 20px;
    font-weight: bold;
}

.line2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.small {
    width: 30px;
    height: 2.5px;
    background-color: #000000;
}

.green {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.txt_green {
    text-align: center;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: green;
    color: #ffffff;
    width: 300px;
    text-shadow: 1px 1px 2px black;
}

.red {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.txt_red {
    text-align: center;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(128, 0, 0);
    color: #ffffff;
    width: 300px;
    text-shadow: 1px 1px 2px black;
}

.page2_img {
    margin-top: 5px;
}

.offer2 {
    margin-top: 39px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    background-color: #4d4d4d76;
    font-size: 14px;
    font-weight: bold;

}

.p1 {

    width: 400px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

.title3 {
    font-style: bold;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.title4_txt {
    font-family: initial;
    font-size: 18px;
    width: 310px;
    padding: 5px 10px;
    border-radius: 5px;
    /* background-color: rgba(33, 13, 150, 0.873); */
    /* text-shadow: 1px 1px 2px black; */
    color: #000000;

}

/* галерея */
.gal {
    margin-top: 20px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.mySlides {
    display: none;
}

.image {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #000000;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
    text-shadow: 1px 1px 2px black;

}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    text-shadow: 1px 1px 2px black;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


/* what we do  */
.What_we_work {
    margin-top: 10px;
    padding: 10px 0px 40px 0px;
    /* background-color: #000000; */
}

.card {
    margin-top: 5px;
}

.title_do {
    font-family: initial;
    font-size: 15px;
    width: 310px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #000000;
}

.do_position {
    display: flex;
    justify-content: space-between;
}

.number_card {
    margin-bottom: 5px;
}

.do_name {
    padding: 5px 0px;
    /* padding: 10px 0px; */
    font-size: 18px;

}

/* фак */
.faq-header {
    display: flex;
    justify-content: center;
}

.faq_content {
    background-color: rgb(183, 183, 183);
    width: 100vw;
}

div+div {
    clear: both;
}

.faq-content {
    line-height: 1.4em;
    color: #606060;
}

.faq-title {
    font-size: 2em;
    margin: 0.4em 0;
}

div.seperator {
    width: 7.5em;
    background-color: rgb(255, 159, 22);
    height: 0.17em;
    margin-left: -1.8em;
}

.faq-list>div {
    border-bottom: 0.07em solid #ededed;
    padding: 1.5em 0em;
}

.faq-list>div:last-child {
    border: unset;
}

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

summary {
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
}

summary:hover {
    color: rgb(255, 159, 22);
}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px
    }

    100% {
        opacity: 1;
        margin-left: 55px
    }
}

details[open] summary {
    color: rgb(255, 159, 22);
}

details[open] p {
    border-left: 2px solid rgb(255, 159, 22);
    margin-left: 55px;
    padding-left: 25px;
    opacity: 100;
    transition: all 3s ease;
}

details[open] summary:after {
    content: "-";
    font-size: 3.2em;
    margin: -33px 0.35em 0 0;
    font-weight: 200;
}

.faq-body {
    width: 70em;
    margin: auto;
    box-shadow: 0px 0px 16px #5b5b5b;
    border-radius: 0.2em;
    padding: 5em;
    background-color: #fff;
}

.faq-list {
    width: 55em;
    margin: 1em auto;
    padding: 2em 0;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    background: transparent;
    border-radius: 0.3em;
    content: "+";
    color: rgb(255, 159, 22);
    float: left;
    font-size: 1.8em;
    font-weight: bold;
    margin: -0.3em 0.65em 0 0;
    padding: 0;
    text-align: center;
    width: 25px;
}

/* contscts */
.contacts {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 750px;
}

.contact_title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
}

.line {
    border-bottom: 1px solid #bcbcbc;
    width: 1200px;
    margin: 0px auto;
}

.boy {
    margin-left: 200px;
    width: 430px;
}

.column {
    display: flex;
    justify-content: space-between;
}

.form {
    margin-top: 40px;
    margin-right: 150px;
}

.forming {
    display: flex;
    flex-direction: column;
}

.title_form {
    color: rgb(255, 159, 22);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    max-width: 400px;
}

.title_form2 {
    color: rgb(255, 159, 22);
    font-size: 25px;
    text-align: center;
    max-width: 400px;
}

.input {
    padding: 15px;
    border: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.06);
    margin: 5px 0px;

}

.input:hover {
    background-color: #fafafa;
}

.textarea:hover {
    background-color: #fafafa;
}

.textarea {
    margin: 5px 0px;
    resize: vertical;
    padding: 15px;
    border: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.06);
    height: 150px;
}

.btn3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 56px;
    width: 400px;
    background: rgb(255, 159, 22);
    border: 2px solid #000000;
    text-shadow: 0.25px 0.25px 0.25px black;
    font-size: 22px;
    margin-bottom: 50px;

}

.socials {
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

.social {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 80px;
    margin-left: 100px;
}

.title_bot {
    color: #ffffff;
    font-size: 15px;
    max-width: 140px;
    margin-top: 20px;
    margin-left: 10px;
}

.soc {
    display: flex;
    justify-content: flex-start;
}

.mini_soc {
    display: flex;
    justify-content: flex-start;

}

.mini {
    width: 50px;
}

.logo_mini {
    width: 100px;
    margin-left: 25px;
}

/* галерея */
@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* responsive */
@media (min-width: 378px) and (max-width: 554px) {
    .offer1 {
        margin-top: 17vw;
        font-size: 5vw;
    }

    .line_black {
        margin-top: 28vw;
    }

    .line_top2 {
        margin-top: -26vw;
    }

    /* курс позволиты */
    .offer2 {
        font-size: 4.5vw;
    }

    .title3_txt {
        margin-top: 1vw;
        ;
    }
}



@media (max-width: 554px) {

    /* faq  */
    .faq-title {
        font-size: 20px;
    }

    .faq-body {
        width: auto;
        padding: 2em;
    }

    .faq-list {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    summary {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
    }


    summary::after {
        width: auto;
    }

    .boy {
        display: none;
    }

    /* contacts  */
    .form {
        margin-right: 0;
        margin-top: 5px;
    }

    .column {
        padding: 20px;
        display: block;
    }

    .title_form {
        max-width: none;
    }

    .title_form2 {
        max-width: none;
    }

    .btn3 {
        margin: auto;
        width: 100%;
    }

    .contacts {
        height: 100%;
    }

    .social {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        margin-left: 0;
    }

    .line {
        width: auto;
    }

    .soc {
        display: none;
    }

    .mini_phone {
        margin-top: 7px;
        width: 33px;
    }

    /*  */
}

@media only screen and (max-width:500px) {

    .prev,
    .next,
    .text {
        font-size: 14px;
    }

    .dot {
        height: 10px;
        width: 10px;
    }
}

/* конец галереи */
